<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h3 class="margin">Who Am I?</h3>
  <i class="fas fa-code"></i>
  <h3 style="margin-top: 2%;">I'm a Software Engineer</h3>
  <p style="color:white; margin-top:4%;">A Technical Lead well-versed in technology best practices, project management requirements, and various support operations. Successful at building robust solutions for changing business needs. Driven professional enthusiastic about meeting market challenges with scalable technologies. </p>
  
</div>

<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">    
  <h3 class="margin">Where To Find Me?</h3><br>
  <div class="row">
     <div class="col-sm-4"></div>
    <div class="col-sm-4" style="text-align: center;">
      <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="large" data-theme="light" data-type="HORIZONTAL" data-vanity="kishor-padmanabhan-59090448" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://in.linkedin.com/in/kishor-padmanabhan-59090448?trk=profile-badge">Kishor Padmanabhan</a></div>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>
